
@{
    ViewData["Title"] = "Product";
}

<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Laundry-ku</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Go Laundry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Bootstrap Core CSS -->
	<link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- gallery css -->
	<link rel="stylesheet" href="~/css/swipebox.css">
	<!-- Custom CSS -->
	<link href="~/css/style.css" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href="~/css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!--webfonts-->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<!--//webfonts-->
</head>
<body>
<!--services-->
	<div class="agileits-services py-md-5 py-3" id="services">
		<div class="container">
			<h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">what we do</h3>
			<div class="agileits-services-row row py-md-5 pb-5">
				<div class="col-lg-3 col-md-6 agileits-services-grids">
					<span class="fab fa-uniregistry p-4"></span>
					<h4 class="mt-2 mb-3">Commercial Service</h4>
					<p>service to Customers engaged primarily in the sale of goods or services for a client</p>
				</div>
				<div class="col-lg-3 col-md-6 agileits-services-grids mt-md-0 mt-3">
					<span class="fab fa-jenkins p-4"></span>
					<h4 class="mt-2 mb-3">Self Service</h4>
					<p>A self-service laundry where clothes are washed by your self</p>
				</div>

				<div class="col-lg-3 col-md-6 agileits-services-grids mt-lg-0 mt-3">
					<span class="fab fa-schlix p-4"></span>
					<h4 class="mt-2 mb-3">Faster Service</h4>
					<p>A service is faster than usual service</p>
				</div>
				<div class="col-lg-3 col-md-6 agileits-services-grids mt-lg-0 mt-3">
					<span class="fas fa-magic p-4"></span>
					<h4 class="mt-2 mb-3">Stain Removal</h4>
					<p>process of removing a mark or spot left by cleanly</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //services-->

	<!-- pricing -->
	<section class="wthree-row py-md-5 pt-sm-5" id="pricing">
		<div class="container py-md-5 py-3">
			<h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">pricing plans</h3>
			<div class="row pb-5">
				<div class="col-lg-3 col-md-6 text-center  pb-0 pt-3 px-3 agile-pricegrid">
					<div class="bg-price py-sm-3 rounded-top text-center">
						<h4>Basic</h4>
						<span class="mx-auto my-2"></span>
					</div>
					<div class="p-3">
						<h5 class="pt-2">
							<sup>Rp</sup>20</h5>
						<span>per kg</span>
					</div>
					<ul class="list-group-flush">
					</ul>
					<div class="py-3 px-2">
						<button type="button" class="btn btn-info btn-lg btn-block text-md-center" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center pb-0 pt-3 px-3 agile-pricegrid">
					<div class="bg-price py-sm-3 rounded-top text-center">
						<h4>Regular</h4>
						<span class="mx-auto my-2"></span>
					</div>
					<div class="p-3">
						<h5 class="pt-2">
							<sup>Rp</sup>30</h5>
						<span>per Kg</span>
					</div>
					<ul class="list-group-flush">
					</ul>
					<div class="py-3 px-2">
						<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center p-3  agile-pricegrid">
					<div class="bg-price py-sm-3 rounded-top text-center">
						<h4>Express</h4>
						<span class="mx-auto my-2"></span>
					</div>
					<div class="p-3">
						<h5 class="pt-2">
							<sup>Rp</sup>50</h5>
						<span>per Kg</span>
					</div>
					<ul class="list-group-flush">
					</ul>
					<div class="py-3 px-2">
						<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center pb-0 pt-3 px-3 agile-pricegrid">
					<div class="bg-price py-sm-3 rounded-top text-center">
						<h4>Combo</h4>
						<span class="mx-auto my-2"></span>
					</div>
					<div class="p-3">
						<h5 class="pt-2">
							<sup>Rp</sup>100</h5>
						<span>per Kg</span>
					</div>
					<div class="py-3 px-2">
						<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //pricing -->

</body>

</html>